// px版不转成rem单位
@function px2rem($sizes) {
  $result: '';

  @each $size in $sizes {
    $px: $size;
    @if $result != '' {
      $result: $result + ' ';
    }

    @if type_of($size) == number {
      $size: ($size / $baseFontRatio);
      $sizeWithOutUnit: $size / ($size * 0 + 1);
      $px: $sizeWithOutUnit + px;
    }

    $result: $result + $px;
  }

  //$result : $result + ' ' + '/*#{$sizes}*/';
  @return unquote($result);
}

@import "dialog";